{% extends 'base.html' %}
{% block content %}
  회원 이름 :
  {{user.last_name}}{{user.first_name}}
  <br>
  회원 이메일 :
  {{user.email}}
  <hr>
  <h3>회원정보 수정</h3>
  <form action="{% url 'accounts:update' %}" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-outline-primary">회원정보 수정</button>
  </form>
  <form action="{% url 'accounts:delete'  %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-outline-primary">회원탈퇴</button>
  </form>
  <br>
  <hr>
  <b>내가 쓴 글</b>
  <hr>
  <table class="table table-striped">
    <thead>
      <tr class="table-primary">
        <th scope="col">#</th>
        <th scope="col">후기 제목</th>
        <th scope="col">영화 제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성일</th>

      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
        <tr onclick="window.location='{% url 'articles:detail' article.pk %}'" style="cursor:pointer;">
          <th scope='row'>{{ article.pk }}</th>
          <td>{{ article.title }}</td>
          <td>{{article.movie}}</td>
          <td>{{article.user}}</td>
          <td>{{article.created_at}}</td>
        </tr>
      </tbody>
    {% endfor %}
  </table>

{% endblock %}
