{% extends 'base.html' %}
{% block content %}

  <div class="container my-3">
    <h1 class="text-center">Main</h1>
    <hr>
    <table class="table table-striped">
      <thead>
        <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">후기 제목</th>
          <th scope="col">영화 제목</th>
          <th scope="col">작성자</th>
          <th scope="col">작성일</th>

        </tr>
      </thead>
      <tbody>
        {% for article in articles %}
          <tr onclick="window.location='{% url 'articles:detail' article.pk %}'" style="cursor:pointer;">
            <th scope='row'>{{ article.pk }}</th>
            <td>{{ article.title }}</td>
            <td>{{article.movie}}</td>
            <td>{{article.user}}</td>
            <td>{{article.created_at}}</td>
          </tr>
        </tbody>
      {% endfor %}
    </table>
    <hr>
  </div>
{% endblock content %}
